@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-ff: 'Playfair Display', serif;
  --heading-p: 'Poppins', sans-serif;
}

/* Home Page */

/* Navigation */

a {
  text-decoration: none;
}

nav h1 {
  font-family: var(--heading-ff);
  color: #000;
  margin-left: 15px;
}

nav ul li {
  display: inline;
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: var(--heading-p);
  font-size: 16px;
  transition: all 100ms ease-in-out;
}

nav ul li a:hover {
  color: rgb(5, 172, 223);
  border-bottom: 2px solid rgb(5, 172, 223);
}

nav li.active a {
  color: rgb(5, 172, 223);
}

/* Hero */
.hero {
  background-color: rgb(5, 172, 223);
  padding: 80px 20px;
}

.hero h1 {
  font-size: 70px;
  font-family: var(--heading-ff);
}

.hero h3 {
  font-size: 2rem;
}

.hero p {
  font-size: 20px;
  font-family: var(--heading-p);
}

.contact-button {
  padding: 10px 35px;
  font-family: var(--heading-p);
  border-radius: 0;
  transition: all 600ms ease-in-out;
}

/* Content */
.content-container h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.content-button {
  padding: 10px 35px;
  margin-top: 10px;
  font-family: var(--heading-p);
  transition: all 600ms ease-in-out;
}

/* Footer */
footer p a {
  font-family: var(--heading-p);
  font-size: 20px;
  color: #000;
}

footer p a:hover {
  border-bottom: 2px solid #000;
  color: #000;
}

footer .social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

footer .social i {
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 12px;
  background-color: rgb(5, 172, 223);
  color: #000;
  transition: all 350ms ease-in-out;
}

footer .social i:hover {
  color: #fff;
}

footer h6 {
  margin-top: 30px;
}

/* About Page */
.about-me h1 {
  font-family: var(--heading-ff);
  font-size: 60px;
}

.about-me h3 {
  font-family: var(--heading-ff);
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.about-me p {
  font-family: var(--heading-p);
}

.about-me .about-me-button {
  background-color: rgb(5, 172, 223);
  color: #fff;
  padding: 10px 35px;
  border: none;
  font-family: var(--heading-p);
  transition: all 500ms ease-in-out;
}

.about-me .about-me-button:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.personal-img img {
  border-radius: 30px;
  margin-top: 50px;
}

.about-me {
  margin-top: 100px;
  padding: 20px;
}

/* Projects Page */

.project-header {
  font-family: var(--heading-ff);
  margin: 39px 0;
  text-align: center;
  font-size: 45px;
}

/* Contact Me */
.contact-me {
  margin-top: 80px;
  /* margin-left: 20px; */
}

.contact-me h1 {
  font-family: var(--heading-ff);
  font-size: 60px;
  margin-bottom: 3rem;
}

.contact-me h3 {
  font-family: var(--heading-p);
  font-weight: 900;
  font-size: 24px;
}

.contact-me a {
  font-size: 15px;
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 768px) {
  .contact-me {
    text-align: center;
  }
}

@media (max-width: 1048px) {
  .personal-img img {
    margin-top: 100px;
  }
}

@media (max-width: 764px) {
  .personal-img img {
    display: block;
    margin-top: 20px;
  }
}
